.pageHeader {
    position: relative;
    width: 100%;
    height: 30vh;
    background-image: url("../assets/images/cntImg.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-white); 
    overflow: hidden; 
}

.pageHeader::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(1, 35, 85, 0.5);

}

.pageHeader > * {
    position: relative;
    
}
.pageHeader h1{
    font-size: 2.8rem;
    font-weight: bold;
}

.contentDiv{
    margin: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background: var(--color-white);
    color: var(--primary-color-dark);
    position: relative;
}

.contentDiv::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 20%;
    border-top: 5px solid var(--primary-color-dark);
    border-left: 5px solid var(--primary-color-dark); 
    box-sizing: border-box;
    opacity: 50%;
    border-radius: 10px;
}
.contentDiv p{
    font-size: 1.7rem;
}

.ctSection{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    padding: 1rem 0;
}

.imageWrapper {
    position: relative;
    width: 30rem;
    height: 30rem;
    border-radius: 5px;
    overflow: hidden; 
    transition: all 0.5s ease-in;
}

.imageWrapper img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    object-position: center;
    display: block;
    transition: all 0.5s ease-in;
}


.products{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.Link {
    position: relative;
    text-decoration: none;
    color: var(--primary-color-dark);
    transition: all 0.3s ease;
    padding-left: 1.5rem;
  }
  
  .Link:hover {
    color: var(--primary-color-light); 
    transform: scale(1.01);
  }
  
  .active {
    color: var(--secondary-color);
    font-weight: bold;
    text-decoration: underline; 
  }

  .Link::before {
    content: '>'; 
    position: absolute;
    left: 0;
    color: var(--primary-color-dark);
    font-weight: bold;
  }

  @media (max-width: 768px){
    .imageWrapper{
        display: none;
    }

    .contentDiv::before{
        display: none;
    }
    .pageHeader{
        height: 20vh;
    }

    .contentDiv p{
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .contentDiv{
        margin: 0;
    }

  }