.pageHeader {
    position: relative;
    width: 100%;
    height: 30vh;
    background-image: url("../assets/images/productsBg.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff; 
    overflow: hidden; 
}

.pageHeader::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
}

.pageHeader > * {
    position: relative; 
    
}
.pageHeader h1{
    font-size: 2.8rem;
    font-weight: bold;
}

.cardContainer{
    padding: 3rem 2rem;
    width: 100%;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    background: var(--color-white);
}

li{
  list-style: none;
}
.cardBody{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.cardImg{
    width: 16rem;
    height: 18rem;
    object-fit: cover;
    object-position: center;
    display: block;
    transition: transform 0.3s ease-in-out;
}

.cardBody span{
    font-size: 1.6rem;
    padding-top: 1rem;
    font-weight: bold;
    text-decoration: none;
}

.cardBody:hover .cardImg {
    transform: scale(1.1);
  }

  .cardBody span {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    color: #fff;
    background-color: rgba(41, 5, 107, 0.6);
    padding: 3rem;
    border-radius: 5px;
    font-size: 14px;
    max-width: 90%;
  }
  
  .cardBody:hover span {
    opacity: 1;
  }
  .pLink {
    text-decoration: none;
    align-self: flex-end;
    
  }
  
  .title{
    text-decoration: none;
    padding-top: 1rem;
    font-size: 1.2rem;
    color: var(--primary-color-dark);
  }

  @media (max-width: 768px){
    .pageHeader{
      height: 20vh;
      text-align: center;
    }
    .cardContainer{
      display: flex;
      flex-direction: column;
      
    }
  }