  .aboutSection{
    background-color: rgb(189, 209, 240);
    /* background: linear-gradient(to top left, rgb(101, 145, 211) 50%, rgb(189, 209, 240) 97%); */
    color: var(--primary-color-dark);
    padding: 0 2rem;
    padding-top: 3rem;
    margin-top: 4rem;
}

.Container {
    display: flex;
    gap: 20px;
}

.aboutH2{
    position: relative;
    padding-left: 1rem;
    font-size: 3rem;
    margin-bottom: 2rem;
    display: inline-block;
    animation: slideIn 1.5s ease-out;
    border-left: 6px solid var(--primary-color-dark);
}



  @keyframes slideIn {
    0% {
      transform: translateY(-20px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

.TextContent,
.ImageContent {
    flex: 1;
}

.ImageContent img {
    margin-top: -2rem;
    width: 34rem; 
    height: 30rem;
    object-fit: cover;
    object-position: center; 
    border-radius: 5px;
    padding-bottom: 2rem;
}

.TextContent {
  position: relative; 
  display: flex;
  flex-direction: column;
}

.TextContent p{
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: 400;
}

.readMoreBtn{
  margin-top: 2rem;
  text-decoration: none;
  max-width: 8rem;
  color: var(--color-white);
  background: var(--secondary-color);
  padding: 1rem;
  text-align: center;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
  
}

.readMoreBtn:hover{
  transform: scale(1.1);
}


@media (max-width: 768px) {
  .ImageContent{
    display: none;
  }
  .aboutSection{
    margin-top: 0;
    padding-bottom: 2rem;
  }
.aboutH2{
  font-size: 2.5rem;
}

.TextContent p{
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 400;
}

.readMoreBtn{
  color: var(--primary-color-dark);
}
}
